<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/weather.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>   
         
         {{>header}}
            

            <div>
                     <p>This the about page i just changed</p>
            </div>
            


         {{>footer}}  
       
    <script src="/js/app.js"></script>
</body>
</html>