<header>
             
             <ul id="logo"><h3>WeatherPlanet</h3></ul>
             <ul id="nav-list">
                 <li><a href="/">HOME</a></li>
                 <li><a href="/about">ABOUT</a></li>
                 <li><a href="/help">HELP</a></li>
             </ul>
</header>  